*
!.gitignore
!/api/
!/api/*
!/api/**/
!/api/**/*
!/ecode/
!/ecode/*
!/ecode/**/
!/ecode/**/*
!/config/
!/config/*
!/config/**/
!/config/**/*
!/dao/
!/dao/*
!/dao/**/
!/dao/**/*
!/model/
!/model/*
!/model/**/
!/model/**/*
!/util/
!/util/*
!/util/**/
!/util/**/*
!/html/
!/html/*
!/html/**/
!/html/**/*
!/server/
!/server/*
!/server/**/
!/server/**/*
!/service/
!/service/*
!/service/**/
!/service/**/*
!AppConfig.json
!cmd.sh
!cmd.bat
!deployment.yaml
!Dockerfile
!go.mod
!main.go
!README.md
!SourceConfig.json